.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    align-content: center;
}
.image-1{
    margin-top: 30px;
    color:white;
}
/* .mouse-click {
    bottom: ;
} */
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 40vh;
    color: white;
    padding-top: 10vh;
    line-height: 40px;
}
.about-us{
    line-height: 40px;
}

.form-group-1{
    padding-left: 150px;
}
.form-group{
    padding-top: 20px;
}
.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
}