.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    align-content: center;
    font-family: Gabriela, serif;
}
.image-1{
    margin-top: 30px;
    color:white;
}

.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 40vh;
    color: white;
    padding-top: 10vh;
    line-height: 40px;
}
.about-us{
    line-height: 40px;
    font-family: Copse, serif;
}
.services{
    font-family: Copse, serif;
    font-size: 17px;

}

.form-group-1{
    padding-left: 150px;
}

.form-group{
    padding-top: 20px;
}

#mce-NAME, #mce-EMAIL{
width: 23%;
margin-bottom: 15px;
padding: 5px;

}
#mce-NAME{
    margin-right: 7px;
}
.form-group-1::-webkit-input-placeholder{
    color: white;
}

input[type=text],input[type=email],textarea{
    background: transparent;
    color: white;
}

.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 20px;   
}

    .overlay {
    position: absolute;
    bottom: 0; 
    left: 100%;
    right: 0;
    background-color: rgb(255, 255, 255, 0.455); 
    overflow: hidden; 
     width: 0;
    height: 100%; 
    transition: 0.9s ease;
    display: none; 
    } 
  
  #pic:hover .overlay {
    width: 100%;
    left: 0;
  }
 
 .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8{
    color: red;
    font-size: 24px;
    font-weight: 400;
    position: absolute; 
    left: 30px;
    right: 40px;
    border:5px solid white;
    text-align: center;
    /* margin-top: 10%;
    margin-left: 1px;  */
    padding: 10px;
    margin: 2em auto; 


  }

::placeholder, #text, #name, #email{
    background-color: transparent;
}

.footer{
    margin-top: 50px;
}

.social-icons{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-left: 37%;
}
.what-we-do{
    font-family: Gabriela, serif;
    margin-top: 80px;
    margin-left: 30px;
    text-align: center;
}
#para1,#para2,#para3{
    display: none;
}

#btn{
    background-color:lightgrey;
    margin-bottom: 15px;
    padding: 7px 15px;

}

.portfolio{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.portfolio img{
    width: 250px;
    height: 200px;
}

h4{
    padding-bottom: 50px;
}

