.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    align-content: center;
    font-family: Gabriela, serif;
}
.image-1{
    margin-top: 30px;
    color:white;
}
/* .mouse-click {
    bottom: ;
} */
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 40vh;
    color: white;
    padding-top: 10vh;
    line-height: 40px;
}
.about-us{
    line-height: 40px;
    font-family: Copse, serif;
}
.services{
    font-family: Copse, serif;
    font-size: 17px;

}

.form-group-1{
    padding-left: 150px;
}
.form-group{
    padding-top: 20px;
}
.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}

::placeholder, #text, #name, #email{
    background-color: transparent;
}

.footer{
    margin-top: 50px;
}

.social-icons{
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.what-we-do{
    font-family: Gabriela, serif;
}
.what-we-do p{
    display: none;
}

#btn{
    width: 17vw;
    background-color: teal;
}