.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    align-content: center;
}
#landing-page {
    margin-top: 15vh;
}


.image-1{
    margin-top: 30px;
    color:white;
}
/* .mouse-click {
    bottom: ;
} */