.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    align-content: center;
    font-family: Gabriela, serif;
}
.image-1{
    margin-top: 30px;
    color:white;
}
/* .mouse-click {
    bottom: ;
} */
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 40vh;
    color: white;
    padding-top: 10vh;
    line-height: 40px;
}
.about-us{
    line-height: 40px;
    font-family: Copse, serif;
}
.services{
    font-family: Copse, serif;
    font-size: 17px;

}

.form-group-1{
    padding-left: 150px;
}
.form-group{
    padding-top: 20px;
}
.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 20px;   
}

   /* .overlay {
    position: absolute;
    bottom: 10%; 
    left: 100%;
    right: 0;
    background-color: rgb(255, 255, 255, 0.455);
    /* overflow: hidden; */
    /* width: 0;
    height: 100%; */
    /* transition: .5s ease;  */
  
  #pic:hover .overlay {
    width: 100%;
    left: 0;
  }
 
 .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8{
    color: red;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 33px;
    -webkit-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap; 
     display: none; 
     border: 5px solid white;
     padding-bottom: 40%;
     padding-top: 5px;


  }

::placeholder, #text, #name, #email{
    background-color: transparent;
}

.footer{
    margin-top: 50px;
}

.social-icons{
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.what-we-do{
    font-family: Gabriela, serif;
}
#para1{
    display: none;
}

#btn{
    width: 17vw;
    background-color: teal;
}

.portfolio{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.portfolio img{
    width: 250px;
    height: 200px;
}

/* sample text PORTFOLIO */
.Mercy{
    display: none;
    position: absolute;
    width: 100%;
    margin-top: -25%;
}

/* WHAT WE DO SAMPLE */
.A1{
    display: none;
}

